.login-page-main-div {
    background-image: url('./images/african-lion.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% top;
    background-attachment: fixed;
    height: 100vh;
}

@media (min-width: 415px) { .main-app-wrapper {
    margin: 50px;
    margin-bottom: 100px;
}}

@media (max-width: 415px) { .main-app-wrapper {
    margin: 8px;
    margin-bottom: 75px;
}}